/* CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
input:active {

}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*================ END CSS RESET ===================*/
/*
    Andrew Macht
*/

body{
    background: url(images/header.gif) left 40px repeat-x white;
/*    background-color:#cccccc;
    background-image:url(images/noise.png);*/
}
.input-holder {
    width:800px;
    height:50px;
    border-radius:9px;
    z-index:5;
    overflow:hidden;
    margin:0 auto;
}
.textbox{
    width:600px;
    height:46px !important;
    margin:0 auto;
    border-radius: 6px !important;
    border:1px solid;
    border-color:rgba(0, 0, 0, 0.00);
    padding:0px;
    border-right:0px;
    font-size:24px !important;
}
.header{
    height:60px;
}
#go{
    width:180px;
    height:44px !important;
}
.container {
    width:900px;
    margin:150px auto 0px auto;
}
.container2 {
    width:900px;
    margin:50px auto 0 auto;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
    box-shadow: 0 0 25px #333;
    background-color:#cccccc;
    background-image:url(images/noise.png);
}
.container3 {
    width:900px;
    margin:50px auto 100px auto;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
    box-shadow: 0 0 25px #333;
    height:200px;
    background-color:#cccccc;
    background-image:url(images/noise.png);
    padding-top:25px;
}
.logo-holder{
    width:800px;
    margin:0 auto;
}
.logo-spacer{
    padding-top:15px;
    float:left;
    width:200px;
}
.logo{
    font-weight:bold;
    padding-top:20px;
    font-size:30px;
    width:150px;
    cursor:pointer;
    text-decoration: none;
    color:black;
}
.logo:hover{
    color:#F90;
    cursor:pointer;
    text-decoration: none;
}
.control {
    float:right;
    text-decoration:none;
    vertical-align:top;
}
.control:after {
    content:url(images/black-gear.png);
}
.controlpanel{
    width:900px;
    height:500px;
    margin:30px auto;
    padding:10px 50px 50px 50px;
    background:white;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
    box-shadow: 0 0 25px #333;
    background-color:#cccccc;
    background-image:url(images/noise.png);
}
.ui-slider-handle {
    width:9px !important;
}
.innercontainer {
    margin: 7px auto;
    width:900px;
}
.video {
    width:560px;
    margin:0 5px;
    float:left;
}
.start {
    margin-top:100px;
    width:155px;
    height:100px;
    float:left;
    margin:3px;
}
.end {
    margin-top:100px;
    width:155px;
    height:100px;
    float:right;
    margin:3px;
}
.label {
    display:block;
    font-family: sans-serif;
    margin:0 auto;
    width:40px;
    padding-left:40px;
    font-size:18px;
}
.labelholder {
    margin:0 auto;
    width: 130px;
}
.box {
    height:30px;
    font-size:18px;
    width:130px;
    border-radius:9px;
    margin:5px;
    border:2px solid black;
}
.endlabel {
    padding-left:55px;
    width:23px;
}
.endbox {
    float:left;
}
.generate-holder {
    width:900px;
    height:100px;
}
 
#generate {
    width:200px;
    height:45px;
    text-align:center;
    text-decoration:none;
    margin:0 auto;
    display:block;
    font-size:20px;

}
.video-holder{
    width:560px;
    height:315px;
    margin:5px;
    float:left;
    background-color:white;
    border: 2px solid #cccccc;
      -webkit-box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.075);
         -moz-box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.075);
              box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.075);
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
         -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
              box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.video{
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
.prog-bar{
    width:200px;
    height:45px !important;
    margin:0 auto;
}
.display-all{display:block;}
.display-none{display:none !important;}

.output{
    width:900px;
    height:500px;
    margin:60px auto;
    padding:10px 50px 50px 50px;
    background:white;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
    box-shadow: 0 0 25px #333;
}

.gif-output{
    padding: 32px 20px 20px 130px;\
}

.go {
    background-color: #F90;
    border: 1px solid;
    border-color: #F90 #F90 #C60 #F90;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    color: white;
    cursor: default;
    line-height: 40px;
    overflow: hidden;
    position: relative;
    text-align: center;
    text-shadow: 0 -1px 0 #C60;
}
/*#URL {
    border: 1px solid #CCC;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 0 0 5px #CCC inset;
    -moz-box-shadow: 0 0 5px #ccc inset;
    -webkit-box-shadow: 0 0 5px #CCC inset;
    height: 40px;
    overflow: hidden;
}*/
.gif-output{
    margin:0 auto;
    width:640px;
    height:360px;
}
.social-holder{
    height:80px;
    width:250px;
    margin:0 auto
}
.social{
    float:left;
    padding-left:20px;
    padding-right:20px;
}
.addthis{
    padding-top:10px;
    float:right;
    width: 250px;
}
.buttontext{
    background-color: #F90;
    border: 1px solid;
    border-color: #F90 #F90 #C60 #F90;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    color: white;
    text-align: center;
    text-shadow: 0 -1px 0 #C60;
    width:228px;
    font-size: 24px;
}
.meme-holder{
    margin:0 225px;
    height:35px;

}
.meme-text{
    float:left;
    width:300px;
}
.labels{
    float:left;
    width:100px;
    padding:4px;
    margin:0;
    text-align:center;
    vertical-align: middle;
}
.add-text-button{
    margin:0 400px;
}